@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, * {
  cursor: url('/Cursorforwebsite-32.png') 0 0, auto !important;
}

body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive;
  background: #000;
}

